################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tdd-linquiz/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/Tdd-linquiz/bin/Debug/netcoreapp3.1
/Tdd-linquiz/obj
/Tdd-linquiz/.vs/Tdd-linquiz/v16
